* {
    padding: 0%;
    margin: 0%;
    font-family: 'Alkatra', cursive;
}
body{
    background-image: url(../imagenes/fondo.svg);
    background-size: cover;
    background-color: blue;
    background-position: right top;
}

.contenedor { 
    position: relative;
    width: 100% ;
    display: flex;
    align-items: center;
    align-content: center;
}
.text {
    margin-left: 40px;
    z-index: 1;
    color: antiquewhite;

}
.imagen{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: relative;
    top: 10px;
    right: 20px;
    z-index: 1;
}
.titulo {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke: 0.5px black;
    padding: 50px 0px 50px 0px;
}
.subtitulo {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 50px 0;

}
button {

    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: bisque;
}
buttoN:hover{
    background-color: rgb(0, 81, 100, 0.10 );
    text-decoration: underline;

}
button a{
    color: black;
    text-decoration: none};
}
