* {
    padding: 0%;
    margin: 0%;
    font-family: 'Alkatra', cursive;
    font-family: 'Bebas Neue', cursive;
}
body{
    height:  100%;
    background-color:  rgba(180, 138, 140 ,138);
    
}
.contenedor{
    width: 100%;
    height: 100vh;
    dispLay: flex;
    aLign-items: center;
    justify-content: center;
}



.contenedor-lg{
    display: flex;
    width: 700px;
    height: auto;
    *background-color: transparent;
}
.login{
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    color: black;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 20px;
    animation-name: border ;
    animation-duration: 2s;
    animation-timing-function:  ease-out;
    animation-fill-mode: forwards;

}
@keyframes border{
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;

    }
}
.login .titulo{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align:center ;
    padding:  0 0 30px 0;
    margin-top: 15px;

}

.login h2{
    margin: 0;
    padding: 0;
    font-weight: unset;
    display: block;
}
.login input{
    width: 100%;
    height: 50px;
    margin: 10px;
    border:  none;
    border-color: transparent;
    color: black;
    border-bottom: black 2px solid;
    font-size: 20px;
}
.login button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    color:  black ;
    background-color: rgb(33, 182, 215);
    font-size: 16px;
    border-radius: 25px;
}
.login a{
    color:white;


}

.login .access:hover{
    background-color: rgb(33, 182, 219);
    text-decoration: none;
    cursor: pointer;

}

.login a{
    display: block;
    text-decoration: none ;
    font-size: 16px  ;
    color: darkgray;
    margin: 5px 0 0 0;

}
.login a:hover{
  color: black;

}

.login-nt {
    width: 400px;
    height: 500px;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 40px  ;
    border-radius: 10px;
    animation-name: border2;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes border2 {
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-right-radius: 20%;
        border-bottom-right-radius:20% ;
    }
    
}

.login-nt  .titulo{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    padding: 0 0 30px 0;
    margin-top: 15px;
}
.login-nt button{
    width: 100%;
    margin: 20px 0;
    position: relative;
    border-radius: 20px;
    border-style:none;
    padding: 10px;

}
.login-nt button i {
    position: absolute;
    top: 10px ;
    left: 20px ;

}
.login-nt button.mail{
    background-color: brown;
    color: white;
    font-size: 18px; 
}
.login-nt button.mail:hover{
    background-color: rgb(219,74,57, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt button.facebook{
    background-color: #3b5999;
    color: white;
    font-size: 18px;
}
.login-nt button.facebook:hover{
    background-color: rgb(59,89,153,0.8);
    cursor: pointer;
    text-decoration: underline;
}
.login-nt button.twiter{
    background-color: #00acee ;
    color: white;
    font-size: 18px;
}
.login-nt button.twiter:hover{
    background-color: rgb(0,172,238,0.8);
    cursor: pointer;
    text-decoration: underline;
}
.login-nt button.instagram{
    background-image: linear-gradient(to bottom right, #515BD4,#8134AF,#DD2A7B,#FEDA77,#F58529  ) ;
    font-size: 18PX;
    color: white;
}
.login-nt button.instagram:hover{
    background-color: linear-gradient(to bottom right, rgb(81,91,212,0.8), rgb(129,52,175,0.8),rgb(221,42,123,0.8),rgb(254,218,199,0.8), rgb(254,133,41,0.8));
    cursor: pointer;
    text-decoration: underline;
}